#top {
    margin-bottom: 0;
}

.container {
    background-color: transparentize($color: #ffffff, $amount: 0.15);
    margin: 2cm 0;
    margin-top: 1cm;
    border-radius: 10px;
    h3 {
        padding-top: 0.5cm;
    }
}

hr {
    width: 90%;
}

.btn {
    margin: 0.2cm;
}

h1 {
    color: #fff;
    padding-top: 3cm;
}

#nav {
    text-align: center;
    padding-top: 0.4cm;
    padding-bottom: 0.2cm;
    border-radius: 5px;
    background-color: white;
}