#filters {
    margin-top: 3cm;
    padding: 0.5cm;
    border-radius: 5px;
    background-color: white;
}

#nav {
    text-align: center;
    padding-top: 0.4cm;
    padding-bottom: 0.2cm;
    border-radius: 5px;
    background-color: white;
}

.container {
    margin: 2cm 0;
}

input {
    margin-bottom: 0.5cm;
    margin-right: 0.2cm;
    margin-left: 0.5cm;
}

.btn-danger {
    margin-top: 0.5cm;
}

img{
    width:296px;
    height: 200px
}